.active-nav-item {
  background-color: rgba(63, 81, 181, 0.12);
  color: #3f51b5;

  mat-icon {
    color: #3f51b5;
  }
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  mat-nav-list {
    overflow-y: auto;
    height: calc(100vh - 64px);
  }
}

mat-toolbar.mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  button mat-icon {
    color: var(--mat-sys-on-primary);
  }
}
