<div class="row-actions">
  @if (showLeave) {
    <button mat-icon-button (click)="leaveAction.emit()" [matTooltip]="leaveTooltip">
      <mat-icon>{{ leaveIcon }}</mat-icon>
    </button>
  }

  @if (showEdit) {
    <button mat-icon-button color="primary" (click)="editAction.emit()" [matTooltip]="editTooltip">
      <mat-icon>{{ editIcon }}</mat-icon>
    </button>
  }

  @if (showDelete) {
    <button mat-icon-button color="warn" (click)="deleteAction.emit()" [matTooltip]="deleteTooltip">
      <mat-icon>{{ deleteIcon }}</mat-icon>
    </button>
  }
</div>
